<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <h1>Mallisalkku</h1>

    {% if session.username %}
    <p>
      Olet kirjautunut nimellä {{ session.username }}
    </p>
    {% endif %}

    <p>
      <a href="/">Etusivu</a> |
      <a href="/find_post">Etsi postaus</a> |
      {% if session.user_id %}
      <a href="/new_post">Uusi postaus</a> |
      <a href="/logout">Kirjaudu ulos</a>
      {% else %}
      <a href="/login">Kirjaudu sisään</a> |
      <a href="/register">Rekisteröidy</a>
      {% endif %}
    </p>

    {% block content %}{% endblock %}
  </body>
</html>