<!DOCTYPE html>
<html>

<head>
  <title>Uusi postaus</title>
</head>

<body>
    <h1>Uusi postaus</h1>
  <form action="/create_post" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" maxlength="50" required/>
    </p>
    <p>
      Kuvaus: <br />
      <textarea name="description" rows="8" cols="60" maxlength="1000" required></textarea>  
    </p>
    <p>
        Kategoria: <br />
        <input type="text" name="category" pattern="^[A-Za-z]+$" required/>
      </p>
      <p>
        Sijoitusstrategia: <br />
        <select name="strategy">
          <option value="">[valitse]</option>
          <option value="kasvuyhtiöt">kasvuyhtiöt</option>
          <option value="arvoyhtiöt">arvoyhtiöt</option>
          <option value="indeksipohjainen">indeksipohjainen</option>
          <option value="tuottohakuinen">tuottohakuinen</option>
          <option value="spekulatiivinen">spekulatiivinen</option>
          <option value="hybridi">hybridi</option>
        </select>
      </p>
      <p>
        Vuosituotto tavoite: <br />
        <select name="rate">
          <option value="">[valitse]</option>
          <option value="2-4%">[2-4%]</option>
          <option value="4-7%">[4-7%]</option>
          <option value="7-10%">[7-10%]</option>
          <option value=">10%">[>10%]</option>
        </select>
      </p>
    <input type="submit" value="Luo postaus" />
  </form>
</body>

</html>